<footer>
    <a href="#" id="link-top">
        <div id="triunghi">&#5123;</div>
        <span class="tooltip">Top</span>
    </a>
    <p class="banner">Acesta este un proiect școlar!</p>
    <address>
        Telefon: <a href="tel:+40700000000">+40 700 000 000</a> |
        <a href="https://maps.google.com?q=Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83" target="_blank">📍 Locație pe Google Maps</a> |
        Mail: <a href="mailto:contact@f1monaco.com">contact@f1monaco.com</a> | 
        WhatsApp: <a aria-label="Chat on WhatsApp" href="https://wa.me/1XXXXXXXXXX">Pune-ne o întrebare</a>
    </address>
    <small>&copy; <time datetime="2025-03-18">18 martie 2025</time> F1 Monaco Grand Prix. Toate drepturile rezervate.</small>
</footer>
