<nav class="menu-container">
    <label id="hamburger" for="ch-menu">
        <!-- <img src="/resurse/img/Hamburger_icon_alb.png" alt="menu"> -->
        <div class="hamburger-icon">
            <span class="dreptunghi"></span>
            <span class="dreptunghi"></span>
            <span class="dreptunghi"></span>
        </div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div class="text-icon"><a href="index">Acasă</a></div>
            <div class="img-icon"><a href="index"><span class="fas fa-regular fa-house"></span></a></div>
        </li>
        <li><div>Monaco GP</div>
            <ul>
                <li><a href="index#informatii-generale">Informații</a></li>
                <li><a href="index#intrebari-frecvente">Întrebări</a></li>
                <li><a href="index#monaco-media">Media</a></li>
                <li><a href="index#pdf-section">Documente</a></li>
                <li><a href="index#curiozitati">Curiozități</a></li>
                <li><a href="index#locatie">Locație</a></li>
            </ul>
        </li>
        <li><div>Pagini</div>
            <ul>
                <li><a href="despre">Despre Circuit</a></li>
                <li><a href="curse">Curse & Statistici</a></li>
                <li><a href="harta">Harta Circuitului</a></li>
                <li><a href="galerie">Galerie Media</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>
